* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff; /* Background Putih */
    font-family: sans-serif;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 10;
}

/* Container utama untuk membagi Sidebar & Konten */
.container {
    display: flex;
    margin-top: 60px; /* Jarak agar tidak tertutup navbar */
}

/* Sidebar Kiri */
.sidebar {
    width: 100px;
    height: calc(100vh - 60px);
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    position: fixed;
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 20px;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

/* Konten Utama di sebelah kanan sidebar */
.main-content {
    flex: 1;
    margin-left: 100px; /* Lebar yang sama dengan sidebar */
    padding: 20px;
}
